@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

#board {
    height: 1024px;
    width: 1440px;
    background-image: url(assets/background.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#outline {
    height: 869px;
    width: 1400px;
    background-color: transparent;
    border: 2px solid white;
    position: relative;
}

.pinned-items {
    position: absolute;
    width: 200px;
    height: 250px;
    background-color: white;
}

.pins {
    height: 18px;
    width: 18px;
    background-image: url(assets/pins.svg);
    background-size: contain;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.psychological-profile {
    top: 285px;
    left: 600px;
    background-color: white;
}

.psychological-profile .img {
    height: 180px;
    width: 180px;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: aqua;
    z-index: 3;
}

.psychological-profile p {
    position: relative;
    top: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
}

.clothing {
    top: 50px;
    left: 50px;
}

.project-content {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
}

.project-content h1 {
    font-family: 'grenze gotisch', serif;
    font-size: 32px;
    font-weight: bold;
}

.project-content .divider {
    height: 3px;
    width: 180px;
    background-color: #333;
    margin-bottom: 8px;
}

.project-content img {
    height: 84px;
    width: 178px;
    border: 1px solid #333;
    margin-bottom: 10px;
    border-radius: 5px;
}

.project-content p {
    font-family: 'times new roman', Times, serif;
    font-size: 16px;
    text-align: center;
    text-align: left;
}

.landing-page {
    top: 250px;
    left: 310px;
}

.quiz-app {
    top: 470px;
    left: 80px;
}

.weather-app {
    top: 570px;
    left: 350px;
}

.current-skills {
    top: 100px;
    right: 50px;
}

.skill-content{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.skill-content h1 {
    font-family: 'permanent marker', cursive;
    font-size: 32px; 
    font-weight: regular;
    text-align: left;
    margin-bottom: -5px;
}

.skill-content h2 {
    font-family: 'caveat', cursive;
    font-size: 28px; 
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
}
.skill-content li {
    font-family: 'caveat', cursive;
    font-size: 20px;
    margin-bottom: 6px;
    text-align: left;
}

.cv {
    top: 310px;
    right: 310px;
    background-color: transparent;
    background-image: url(assets/cv.svg);
}

.contact {
    top: 520px;
    right: 50px;
    background-color: white;
    padding: 10px;
}

.contact h1 {
    font-family: 'courier new', Courier, monospace;
    font-size: 26px;
    margin: 10px;
}

.contact-options {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}

.contact-options a {
    font-family: 'noto sans', sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.contact-options p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    margin-top: 20px;
}

.note {
    position: absolute;
    top: 50px;
    right: 500px;
    height: 100px;
    width: 200px;
    background-color: white;
}

.note .wrapper {
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
}

.note p {
    font-family: caveat;
    font-size: 24px;
    font-weight: bold;
    line-height: 18px;
}

.note a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

svg {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 6;
    background-color: transparent;
    cursor: pointer;
}

.notification {
    height: 50px;
    width: 202px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    pointer-events: none;
    opacity: 0;
}

.startup-animation {
    position: absolute;
    top: 0;
    left: 0;
    height: 1024px;
    width: 1440px;
    background-color: black;
    color: white;
    z-index: 10;
}

.animation-wrapper{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    font-family: amiri;
    font-size: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    letter-spacing: 50%;
    padding: 50px;
}

.startup-animation .welcome {
    color: rgb(255, 255, 255);
    opacity: 100%;
}

.startup-animation .to {
    color: #878787;
    opacity: 100%;
}

.startup-animation .my {
    color: #878787;
    opacity: 100%;
}

.startup-animation .portfolio {
    color: rgb(255, 0, 0);
    opacity: 100%;
}
